.header {
  grid-area: header;
  padding: var(--spacing-4);
  display: flex;
  flex-direction: row;
  max-height: 300px;
}

.logo {
  flex: 6;
}

.buttonContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: min-content;
}
