.grid {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(1rem, 3fr) minmax(auto, 60rem) minmax(1rem, 3fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    ". header ."
    ". content ."
    "footer footer footer";
}

.content {
  grid-area: content;
}
