/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;700&family=Noto+Sans+JP:wght@300;400;500;700&display=swap");

body {
  margin: 0;

  --spacing-0: 0.25rem;
  --spacing-1: 0.5rem;
  --spacing-2: 0.75rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
  --spacing-6: 3rem;
  --spacing-7: 4rem;
  --spacing-8: 6rem;
  --spacing-9: 8rem;
  --spacing-10: 12rem;
  --spacing-11: 16rem;
  --spacing-12: 24rem;
}

/* Font classes */
body.font-latin {
  font-family:
    "Noto Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body.font-jp {
  font-family:
    "Noto Sans JP",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html[data-theme="light"] {
  color-scheme: light;
  --color-background: hsl(0, 0%, 100%);
  --color-logo-1: hsl(240, 6%, 15%);
  --color-logo-2: hsl(214, 26%, 52%);
  --color-logo-3: hsl(57, 26%, 54%);
  --color-logo-4: hsl(240, 7%, 27%);
  --color-logo-5: hsl(213, 16%, 39%);
  --color-text: hsl(0, 0%, 0%);
}

html[data-theme="dark"] {
  color-scheme: dark;
  --color-background: hsl(0, 0%, 6%);
  --color-logo-1: hsl(240, 6%, 15%);
  --color-logo-2: hsl(214, 26%, 52%);
  --color-logo-3: hsl(57, 26%, 54%);
  --color-logo-4: hsl(240, 7%, 27%);
  --color-logo-5: hsl(213, 16%, 39%);
  --color-text: hsl(0, 0%, 100%);
}

/* Reset from https://courses.joshwcomeau.com/css-for-js/treasure-trove/010-global-styles */

/*
  1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  background: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root {
  height: 100%;
  isolation: isolate;
}
