name: Cleanup PR Preview

on:
  pull_request:
    types: [closed]

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: ap-northeast-1
  S3_BUCKET: alpha-morrisoncole-previews

jobs:
  cleanup:
    name: Delete Preview
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4
        with:
          role-to-assume: arn:aws:iam::427319529420:role/alpha-morrisoncole-github-actions
          aws-region: ${{ env.AWS_REGION }}

      - name: Delete preview from S3
        run: |
          aws s3 rm s3://${{ env.S3_BUCKET }}/pr-${{ github.event.pull_request.number }}/ --recursive
